name: Build and Deploy Resume HTML

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build_resume:
    runs-on: ubuntu-latest
    container:
      image: yupiter/my-resume
      options: --user 1001
    steps:
      - uses: actions/checkout@v4

      - name: Build HTML via Makefile
        run: make PAGES_FOLDER=docs build_html

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          name: page-build
          path: docs/

  deploy:
    needs: build_resume
    environment:
      name: github-pages
    runs-on: ubuntu-latest
    steps:
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: page-build
          path: docs/

      - name: Prepare deployment folder
        run: |
          BASE_DIR=deploy
          mkdir -p $BASE_DIR

          if [ "${{ github.event_name }}" == "pull_request" ]; then
            TARGET_DIR="$BASE_DIR/dev/pr-${{ github.event.pull_request.number }}"
            if [ -d "$TARGET_DIR" ]; then
              echo "Supprimer l'ancien build PR #${{ github.event.pull_request.number }}"
              rm -rf "$TARGET_DIR"
            fi
          else
            TARGET_DIR="$BASE_DIR/prod"
            rm -rf "$TARGET_DIR"
          fi

          mkdir -p "$TARGET_DIR"
          mv docs/* "$TARGET_DIR/"

      - name: Generate indexes via Makefile
        run: make DEPLOY_DIR="$BASE_DIR" TARGET_DIR="$TARGET_DIR" deploy_all

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./deploy
